In [3]:
import pandas as pd

In [4]:
df_vehicle = pd.read_csv('../ingles/vehicle.csv')

In [5]:
df_vehicle.isna().sum()

VehicleID             0
AccidentIndex         0
VehicleType           0
PointImpact           0
LeftHand              0
JourneyPurpose        0
Propulsion            0
AgeVehicle        81770
dtype: int64

In [6]:
df_vehicle.rename(columns={'VehicleID': 'VehiculosID', 'AccidentIndex': 'AccidenteIndex', 
                    'VehicleType': 'TipoVehiculo', 'PointImpact': 'PuntoImpacto', 'LeftHand':'ManoIzquierda',
                    'JourneyPurpose':'PropositoViaje', 'AgeVehicle': 'EdadVehiculo'}, inplace=True)

In [7]:
df_vehicle

,VehiculosID,AccidenteIndex,TipoVehiculo,PuntoImpacto,ManoIzquierda,PropositoViaje,Propulsion,EdadVehiculo
0,VID000001,201506E098757,Car,Offside,No,Not known,Petrol,11.0
1,VID000002,201506E098766,Car,Nearside,No,Not known,Heavy oil,1.0
2,VID000003,201506E098766,Car,Front,No,Not known,Undefined,NaN
3,VID000004,201506E098777,Goods over 3.5t. and under 7.5t,Front,No,Journey as part of work,Heavy oil,1.0
4,VID000005,201506E098780,Car,Nearside,No,Not known,Heavy oil,NaN
...,...,...,...,...,...,...,...,...
257840,VID257841,2.02E+12,Car,Front,No,Not known,Petrol,1.0
257841,VID257842,2.02E+12,Car,Back,No,Not known,Heavy oil,NaN
257842,VID257843,2.02E+12,Car,Back,No,Not known,Petrol,5.0
257843,VID257844,2.02E+12,Car,Back,No,Not known,Petrol,15.0
257844,VID257845,2.02E+12,Car,Front,No,Not known,Petrol,12.0

In [8]:
for i in df_vehicle.columns:
    print(i,'\n', df_vehicle[i].unique())

VehiculosID
 ['VID000001' 'VID000002' 'VID000003' ... 'VID257843' 'VID257844'
 'VID257845']
AccidenteIndex
 ['201506E098757' '201506E098766' '201506E098777' ... '201597UD71412'
 '201597UD71607' '201597UD71807']
TipoVehiculo
 ['Car' 'Goods over 3.5t. and under 7.5t' 'Pedal cycle'
 'Motorcycle 125cc and under' 'Taxi/Private hire car'
 'Bus or coach (17 or more pass seats)' 'Minibus (8 - 16 passenger seats)'
 'Motorcycle over 500cc' 'Van / Goods 3.5 tonnes mgw or under' 'Tram'
 'Other vehicle' 'Goods 7.5 tonnes mgw and over'
 'Motorcycle 50cc and under' 'Motorcycle over 125cc and up to 500cc'
 'Agricultural vehicle' 'Data missing or out of range' 'Ridden horse'
 'Mobility scooter' 'Motorcycle - unknown cc'
 'Goods vehicle - unknown weight' 'Electric motorcycle']
PuntoImpacto
 ['Offside' 'Nearside' 'Front' 'Back' 'Did not impact'
 'Data missing or out of range']
ManoIzquierda
 ['No' 'Yes' 'Data missing or out of range']
PropositoViaje
 ['Not known' 'Journey as part of work' 'Taking pupil to/from school'
 'Commuting to/from work' 'Pupil riding to/from school'
 'Data missing or out of range' 'Other']
Propulsion
 ['Petrol' 'Heavy oil' 'Undefined' 'Hybrid electric' 'Electric'
 'Petrol/Gas (LPG)' 'Electric diesel' 'Gas/Bi-fuel' 'Gas' 'Steam'
 'New fuel technology' 'Gas Diesel']
EdadVehiculo
 [ 11.   1.  nan   8.  10.   6.   5.  16.  12.   3.   7.   2.   4.  15.
  13.   9.  14.  25.  20.  19.  17.  21.  18.  28.  32.  30.  24.  22.
  23.  34.  26.  31.  27.  45.  33.  29.  36.  55.  47.  53.  40.  50.
  56.  35.  37.  46.  42. 104.  44.  90.  51.  61.  74.  41. 105.  39.
  38.  43.  49.  52.  66.  48.  91.  64.  54.  84.  79.  57.  60.  76.
  71.  58.  67.]

In [9]:
for i, y in enumerate(df_vehicle['TipoVehiculo'].unique()):
    print(i, y)

0 Car
1 Goods over 3.5t. and under 7.5t
2 Pedal cycle
3 Motorcycle 125cc and under
4 Taxi/Private hire car
5 Bus or coach (17 or more pass seats)
6 Minibus (8 - 16 passenger seats)
7 Motorcycle over 500cc
8 Van / Goods 3.5 tonnes mgw or under
9 Tram
10 Other vehicle
11 Goods 7.5 tonnes mgw and over
12 Motorcycle 50cc and under
13 Motorcycle over 125cc and up to 500cc
14 Agricultural vehicle
15 Data missing or out of range
16 Ridden horse
17 Mobility scooter
18 Motorcycle - unknown cc
19 Goods vehicle - unknown weight
20 Electric motorcycle

In [10]:
reemplazos = {'Car': 'Carro',
            'Goods over 3.5t. and under 7.5t': 'Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 toneladas',
            'Pedal cycle': 'Bicicleta', 'Motorcycle 125cc and under': 'Motocicleta 125cc e inferior',
            'Taxi/Private hire car': 'Taxi', 'Bus or coach (17 or more pass seats)': 'Autobus',
            'Minibus (8 - 16 passenger seats)': 'Combi', 'Motorcycle over 500cc': 'Motocicleta de mÃ¡s de 500cc',
            'Van / Goods 3.5 tonnes mgw or under': 'Furgoneta', 'Tram': 'Tranvia', 'Other vehicle': 'Otros vehiculos', 
            'Motorcycle over 125cc and up to 500cc': 'Motocicletas de mÃ¡s de 125 cc y hasta 500 cc', 'Goods 7.5 tonnes mgw and over': 'Carga de mas de 7.5 toneladas',
            'Motorcycle 50cc and under': 'Motocicletas de 500cc e inferior',
            'Agricultural vehicle': 'Vehiculo agricola', 'Data missing or out of range': 'Datos ausentes o fuera de rango',
            'Ridden horse': 'Caballo Montado', 'Mobility scooter': 'Scooter', 'Motorcycle - unknown cc': 'Motocicleta - desconocida cc',
            'Goods vehicle - unknown weight': 'Vehiculos de carga - peso desconocido', 'Electric motorcycle': 'Motocicleta electrica'}

In [11]:
#df_vehicle['TipoVehiculo'] = df_vehicle['TipoVehiculo'].replace(reemplazos, regex=True)
df_vehicle['TipoVehiculo'] = df_vehicle['TipoVehiculo'].replace(reemplazos)

In [12]:
df_vehicle['TipoVehiculo'].unique()

array(['Carro', 'Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 toneladas',
       'Bicicleta', 'Motocicleta 125cc e inferior', 'Taxi', 'Autobus',
       'Combi', 'Motocicleta de mÃ¡s de 500cc', 'Furgoneta', 'Tranvia',
       'Otros vehiculos', 'Carga de mas de 7.5 toneladas',
       'Motocicletas de 500cc e inferior',
       'Motocicletas de mÃ¡s de 125 cc y hasta 500 cc',
       'Vehiculo agricola', 'Datos ausentes o fuera de rango',
       'Caballo Montado', 'Scooter', 'Motocicleta - desconocida cc',
       'Vehiculos de carga - peso desconocido', 'Motocicleta electrica'],
      dtype=object)

In [13]:
for i, y in enumerate(df_vehicle['TipoVehiculo'].unique()):
    print(i, y)

0 Carro
1 Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 toneladas
2 Bicicleta
3 Motocicleta 125cc e inferior
4 Taxi
5 Autobus
6 Combi
7 Motocicleta de mÃ¡s de 500cc
8 Furgoneta
9 Tranvia
10 Otros vehiculos
11 Carga de mas de 7.5 toneladas
12 Motocicletas de 500cc e inferior
13 Motocicletas de mÃ¡s de 125 cc y hasta 500 cc
14 Vehiculo agricola
15 Datos ausentes o fuera de rango
16 Caballo Montado
17 Scooter
18 Motocicleta - desconocida cc
19 Vehiculos de carga - peso desconocido
20 Motocicleta electrica

In [14]:
for i, y in enumerate(df_vehicle['PuntoImpacto'].unique()):
    print(i, y)

0 Offside
1 Nearside
2 Front
3 Back
4 Did not impact
5 Data missing or out of range

In [15]:
reemplazos2 = {'Offside': 'Lado lejano', 'Nearside': 'Lado cercano', 'Front': 'Frontal', 'Back': 'Trasero', 'Did not impact': 'No hubo impacto',
               'Data missing or out of range': 'Datos faltantes o fuera de rango'}

In [16]:
df_vehicle['PuntoImpacto'] = df_vehicle['PuntoImpacto'].replace(reemplazos2)

In [17]:
for i, y in enumerate(df_vehicle['PuntoImpacto'].unique()):
    print(i, y)

0 Lado lejano
1 Lado cercano
2 Frontal
3 Trasero
4 No hubo impacto
5 Datos faltantes o fuera de rango

In [18]:
df_vehicle

,VehiculosID,AccidenteIndex,TipoVehiculo,PuntoImpacto,ManoIzquierda,PropositoViaje,Propulsion,EdadVehiculo
0,VID000001,201506E098757,Carro,Lado lejano,No,Not known,Petrol,11.0
1,VID000002,201506E098766,Carro,Lado cercano,No,Not known,Heavy oil,1.0
2,VID000003,201506E098766,Carro,Frontal,No,Not known,Undefined,NaN
3,VID000004,201506E098777,Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 t...,Frontal,No,Journey as part of work,Heavy oil,1.0
4,VID000005,201506E098780,Carro,Lado cercano,No,Not known,Heavy oil,NaN
...,...,...,...,...,...,...,...,...
257840,VID257841,2.02E+12,Carro,Frontal,No,Not known,Petrol,1.0
257841,VID257842,2.02E+12,Carro,Trasero,No,Not known,Heavy oil,NaN
257842,VID257843,2.02E+12,Carro,Trasero,No,Not known,Petrol,5.0
257843,VID257844,2.02E+12,Carro,Trasero,No,Not known,Petrol,15.0
257844,VID257845,2.02E+12,Carro,Frontal,No,Not known,Petrol,12.0

In [19]:
for i, y in enumerate(df_vehicle['ManoIzquierda'].unique()):
    print(i, y)

0 No
1 Yes
2 Data missing or out of range

In [20]:
reemplazos3 = {'Yes': 'Si', 'Data missing or out of range': 'Datos faltantes o fuera de rango'}

In [21]:
df_vehicle['ManoIzquierda'] = df_vehicle['ManoIzquierda'].replace(reemplazos3)

In [22]:
df_vehicle.sample(6)

,VehiculosID,AccidenteIndex,TipoVehiculo,PuntoImpacto,ManoIzquierda,PropositoViaje,Propulsion,EdadVehiculo
236751,VID236752,2.02E+12,Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 t...,Lado lejano,No,Journey as part of work,Undefined,NaN
115426,VID115427,2.02E+12,Motocicleta 125cc e inferior,Frontal,No,Not known,Petrol,8.0
12277,VID012278,201501GD10886,Carro,Frontal,No,Not known,Petrol,10.0
247514,VID247515,2.02E+12,Bicicleta,Trasero,No,Not known,Undefined,NaN
51081,VID051082,201504ED15641,Carro,Frontal,No,Not known,Petrol,10.0
200656,VID200657,2.02E+12,Carro,Lado lejano,No,Commuting to/from work,Petrol,18.0

In [23]:
df_vehicle

,VehiculosID,AccidenteIndex,TipoVehiculo,PuntoImpacto,ManoIzquierda,PropositoViaje,Propulsion,EdadVehiculo
0,VID000001,201506E098757,Carro,Lado lejano,No,Not known,Petrol,11.0
1,VID000002,201506E098766,Carro,Lado cercano,No,Not known,Heavy oil,1.0
2,VID000003,201506E098766,Carro,Frontal,No,Not known,Undefined,NaN
3,VID000004,201506E098777,Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 t...,Frontal,No,Journey as part of work,Heavy oil,1.0
4,VID000005,201506E098780,Carro,Lado cercano,No,Not known,Heavy oil,NaN
...,...,...,...,...,...,...,...,...
257840,VID257841,2.02E+12,Carro,Frontal,No,Not known,Petrol,1.0
257841,VID257842,2.02E+12,Carro,Trasero,No,Not known,Heavy oil,NaN
257842,VID257843,2.02E+12,Carro,Trasero,No,Not known,Petrol,5.0
257843,VID257844,2.02E+12,Carro,Trasero,No,Not known,Petrol,15.0
257844,VID257845,2.02E+12,Carro,Frontal,No,Not known,Petrol,12.0

In [40]:
df_vehicle['PropositoViaje'].unique()

array(['Not known', 'Journey as part of work',
       'Taking pupil to/from school', 'Commuting to/from work',
       'Pupil riding to/from school', 'Data missing or out of range',
       'Other'], dtype=object)

In [41]:
reemplazos4 = {'Not known': 'No conocido', 'Journey as part of work': 'Viaje como parte del trabajo',
               'Taking pupil to/from school':'Llevar al alumno desde hasta la escuela', 'Commuting to/from work': 'Viajar desde hasta el trabajo',
               'Pupil riding to/from school': 'Estudiante viaja desde hasta la escuela', 'Data missing or out of range': 'Datos faltantes o fuera de rango',
               'Other': 'Otros'}

In [42]:
df_vehicle['PropositoViaje'] = df_vehicle['PropositoViaje'].replace(reemplazos4)

In [51]:
df_vehicle['PropositoViaje'].unique()

array(['No conocido', 'Viaje como parte del trabajo',
       'Llevar al alumno desde hasta la escuela',
       'Viajar desde hasta el trabajo',
       'Estudiante viaja desde hasta la escuela',
       'Datos faltantes o fuera de rango', 'Otros'], dtype=object)

In [58]:
df_vehicle.head(5)

,VehiculosID,AccidenteIndex,TipoVehiculo,PuntoImpacto,ManoIzquierda,PropositoViaje,Propulsion,EdadVehiculo
0,VID000001,201506E098757,Carro,Lado lejano,No,No conocido,Petrol,11.0
1,VID000002,201506E098766,Carro,Lado cercano,No,No conocido,Heavy oil,1.0
2,VID000003,201506E098766,Carro,Frontal,No,No conocido,Undefined,NaN
3,VID000004,201506E098777,Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 t...,Frontal,No,Viaje como parte del trabajo,Heavy oil,1.0
4,VID000005,201506E098780,Carro,Lado cercano,No,No conocido,Heavy oil,NaN

In [60]:
df_vehicle['Propulsion'].unique()

array(['Petrol', 'Heavy oil', 'Undefined', 'Hybrid electric', 'Electric',
       'Petrol/Gas (LPG)', 'Electric diesel', 'Gas/Bi-fuel', 'Gas',
       'Steam', 'New fuel technology', 'Gas Diesel'], dtype=object)

In [68]:
reemplazos5 = {'Petrol': 'Petroleo', 'Heavy oil': 'Aceite pesado', 'Undefined': 'Indefinido', 'Hybrid electric': 'Hibrido electrico', 
               'Electric': 'Electrico', 'Petrol/Gas (LPG)': 'Petroleo/Gas (GLP)', 'Electric diesel': 'Diesel electrico', 'Steam': 'Vapor',
               'New fuel technology': 'Nueva tecnologia de combustible'}

In [69]:
df_vehicle['Propulsion'] = df_vehicle['Propulsion'].replace(reemplazos5)

In [70]:
df_vehicle['Propulsion'].unique()

array(['Petroleo', 'Aceite pesado', 'Indefinido', 'Hibrido electrico',
       'Electrico', 'Petroleo/Gas (GLP)', 'Diesel electrico',
       'Gas/Bi-fuel', 'Gas', 'Vapor', 'Nueva tecnologia de combustible',
       'Gas Diesel'], dtype=object)

In [71]:
df_vehicle

,VehiculosID,AccidenteIndex,TipoVehiculo,PuntoImpacto,ManoIzquierda,PropositoViaje,Propulsion,EdadVehiculo
0,VID000001,201506E098757,Carro,Lado lejano,No,No conocido,Petroleo,11.0
1,VID000002,201506E098766,Carro,Lado cercano,No,No conocido,Aceite pesado,1.0
2,VID000003,201506E098766,Carro,Frontal,No,No conocido,Indefinido,NaN
3,VID000004,201506E098777,Carga de mÃ¡s de 3.5 toneladas y menos de 7.5 t...,Frontal,No,Viaje como parte del trabajo,Aceite pesado,1.0
4,VID000005,201506E098780,Carro,Lado cercano,No,No conocido,Aceite pesado,NaN
...,...,...,...,...,...,...,...,...
257840,VID257841,2.02E+12,Carro,Frontal,No,No conocido,Petroleo,1.0
257841,VID257842,2.02E+12,Carro,Trasero,No,No conocido,Aceite pesado,NaN
257842,VID257843,2.02E+12,Carro,Trasero,No,No conocido,Petroleo,5.0
257843,VID257844,2.02E+12,Carro,Trasero,No,No conocido,Petroleo,15.0
257844,VID257845,2.02E+12,Carro,Frontal,No,No conocido,Petroleo,12.0

In [76]:
df_vehicle.to_csv('../espaÃ±ol/vehiculo.csv', index = False)